.booking-order {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.booking-order__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.booking-order__heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 36px 0px;
}

.booking-order__heading-title {
    font-family: "Gilda Display", sans-serif;
    font-size: 28px;
    color: rgba(170, 132, 83, 1);
}

.booking-order__heading-price {
    font-family: inherit;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
}

.booking-order__base {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px dashed rgba(255, 255, 255, 0.242);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.242);
    padding: 16px 0px;
    margin-bottom: 32px;
}

.booking-order__base-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.booking-order__base-heading-title {
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    color: rgba(170, 132, 83, 1);
    cursor: pointer;
    margin-right: 4px;
}

.booking-order__base-heading-icon {
    color: rgba(170, 132, 83, 1);
    display: flex;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.booking-order__base-heading--open .booking-order__base-heading-icon,
.booking-order__base-heading--open .booking-order__base-heading-title {
    color: rgba(170, 132, 83, 0.568);
}

.booking-order__base-price {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.568);
    margin-right: 2px;
}



.booking-order__base-tooltip {
    min-width: 256px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: calc(100% + 22px);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(1px);
    border-radius: 8px;
    padding: 32px 16px;
    z-index: 9999;
}

.booking-order__base-tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #ccc;
    transform: translateY(-50%);
}


.booking-order__base-tooltip-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    z-index: 2;
    margin-bottom: 32px;
}


.booking-order__base-tooltip-heading-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: rgba(170, 132, 83, 1);
}


.booking-order__base-tooltip-heading-subtitle {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.booking-order__base-tooltip-heading-count {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-right: 4px;
}

.booking-order__base-tooltip-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 32px;
}

.booking-order__base-tooltip-details-date {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: rgba(170, 132, 83, 1);
}

.booking-order__base-tooltip-details-price {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: rgba(255, 255, 255, 1);
}

.booking-order__base-tooltip-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
}

.booking-order__base-tooltip-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: rgba(170, 132, 83, 1);
}

.booking-order__base-tooltip-price {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.booking-order__coupon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}


.booking-order__total {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.booking-order__coupon-input-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
}

.booking-order__total-title {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: rgba(170, 132, 83, 1);
}

.booking-order__total-price {
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}