/* .overlay__section:last-child {
    display: flex;
    justify-content: flex-end;
} */

.overlay__section-right {
    width: 100%;
    height: 100%;
    flex: 0;
}

.overlay__backdrop::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 1;
}



.overlay__player {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 50%;
    margin-top: 150px;
}

.overlay__player-icon {
    display: flex;
    font-size: 32px;
    color: rgba(238, 238, 238, 1);
}