.slide-review-stars {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
    overflow: hidden;
}

.slide-review-star {
    font-size: 18px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
}