.hover__link {
    position: relative;
    width: max-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hover-bg-color);
    color: var(--link-color, rgba(255, 255, 255, 1));
    font-size: var(--hover__link-fontSize, 16px);
    font-weight: inherit;
    text-decoration: none;
    transition: border-color 250ms linear, color 250ms linear;
    overflow: hidden;
    z-index: 9999;
}


.hover__link:hover {
    color: var(--hover__link-color);
}

.hover__link::before {
    content: "";
    position: absolute;
    display: flex;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--hover__link-anime, rgba(34, 34, 34));
    transition: width 300ms ease-in, right 600ms ease-in, left 600ms ease-in;
    z-index: -1;
}

.hover__link:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: unset;
    background-color: var(--hover__link-anime, rgba(34, 34, 34));
    width: 100%;
    z-index: -1;
}


.hover__link-variant--gold {
    --hover__link-anime: rgba(170, 132, 83, 1);
}

.hover__link-variant--silver {
    background-color: rgba(170, 132, 83, 1);
    --hover__link-anime: rgba(34, 34, 34);
}

.hover__link-variant--black:hover {
    border-color: transparent;
}

.hover__link-variant--black {
    color: rgba(170, 132, 83, 1);
    border: 1px solid rgba(170, 132, 83, 1);
    --hover__link-anime: rgba(0, 0, 0, 1);

}


.hover__link--border {
    border: 1px solid var(--hover__link-border-color, rgba(255, 255, 255, 0.479));
}

.hover-link__title {
    padding: 8px 16px;
}

.hover__link-size--sm {
    padding: 16px 32px;
    font-size: 12px;
}

.hover__link-size--md {
    padding: 16px 32px;
}