.menu__item {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 42px 32px;
}

.menu__item:not(:last-of-type) {
    margin-right: 4px;
}

.menu__link {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;

}

.menu__link-title {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 500;

}