.reservation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    /* min-height: 100vh; */
    padding: 20px;
    /* scrollbar-gutter: stable; */

}


.reservation__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.reservation__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;

}






/* .rr {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
} */