.reservation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    /* min-height: 100vh; */
    padding: 20px;
    /* scrollbar-gutter: stable; */

}


.reservation__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.reservation__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;

}

.reservation__form-button {
    min-width: 192px;
}








.reservation__booking {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f8f5f0;
    padding: 16px 24px;
}

.reservation__booking-picker {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reservation__booking-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;

}

.reservation__booking-entry {
    min-width: 250px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    /* border-right: 1px solid rgb(167, 155, 155); */
    /* margin-right: 32px; */
}



.reservation__booking-entry-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 12px;
}

.reservation__booking-entry-icon {
    font-size: 24px;
    font-weight: 400;
    color: #aa8453;
}

.reservation__booking-entry-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation__booking-entry-title {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    margin-bottom: 8px;
}

.reservation__booking-entry-booking {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    margin-bottom: 8px;
}

.reservation__booking-entry,
.reservation__booking-leave {
    border-right: 1px solid rgb(167, 155, 155);
}












.reservation__booking-leave {
    min-width: 250px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    /* border-right: 1px solid rgb(167, 155, 155); */
}


.reservation__booking-leave-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 12px;
}

.reservation__booking-leave-icon {
    font-size: 24px;
    font-weight: 400;
    color: #aa8453;
}

.reservation__booking-leave-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation__booking-leave-title {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(102, 102, 102);
    margin-bottom: 8px;
}

.reservation__booking-leave-booking {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(102, 102, 102);
    margin-bottom: 8px;
}


.reservation__booking-calendar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .rr {
    width: auto;
    height: auto;
    display: flex;
    position: absolute;
} */