.animation-shine {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.animation-shine__panel {
    width: 100%;
    height: 100%;
    position: relative;

}

.animation-shine__panel::after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: top 350ms linear, 350ms linear, opacity 350ms linear, transform 350ms linear;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.16) 50%,
            rgba(255, 255, 255, 0.3) 100%);
}

.animation-shine__panel-variant--incline::after {
    top: 0;
    left: -50%;
    width: 40%;
    height: 100%;
    transform: skewX(-25deg);
}

.animation-shine__panel-variant--incline:hover::after {
    left: 120%;
    opacity: 0;
}

.animation-shine__panel-variant--vertical::after {
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 400ms linear, 400ms linear, opacity 400ms linear, transform 400ms linear;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.16) 50%,
            rgba(255, 255, 255, 0.3) 100%);
}

.animation-shine__panel-variant--vertical:hover::after {
    top: 100%;
    opacity: 1;
}