.pricing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 0px;

}

.pricing__list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
    list-style: none;
}




.pricing__item {
    position: relative;
    inset: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}



.pricing__item-content {
    height: 100%;
    position: absolute;
    left: -18px;
    top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0);
    padding: 36px;
    z-index: 9999;
    max-height: 440px;
    overflow-y: auto;

}

.pricing__item-content::before {
    content: "";
    position: absolute;
    left: 36px;
    top: 0;
    width: 36%;
    height: 12px;
    background-color: rgb(170, 132, 83);
}

.pricing__item-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 36px;
}

.pricing__item-heading-price {
    max-width: 150px;
    color: rgb(170, 132, 83);
    font-family: "Gilda Display", sans-serif;
    font-size: 48px;
    font-weight: 400;
    /* line-height: 48px; */
    margin-bottom: 16px;
}

.pricing__item-heading-period {
    max-width: 150px;
    color: rgb(102, 102, 102);
    font-family: "Gilda Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 14px */
}

.pricing__item-heading-period::before {
    content: "/";
    margin: 4px;
}

.pricing__item-heading-title {
    max-width: 150px;
    color: rgba(255, 255, 255);
    font-family: "Gilda Display", sans-serif;
    font-size: 24px;
    font-weight: 400
}

.pricing__item-feautures {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    gap: 16px;
}

.pricing__item-feauture {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.pricing__item-feauture:last-of-type {
    margin-bottom: 16px;
}

.pricing__item-feauture-icon {
    font-size: 16px;
    display: flex;
    margin-right: 16px;
    color: rgba(170, 132, 83);
}

.pricing__item-feauture-title {
    max-width: 150px;
    color: rgba(255, 255, 255, 0.683);
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    line-height: 26px;
}

.pricing__item-media {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.pricing__item-media-wrapper {
    width: auto;
    height: 100%;
    position: relative;
}



.pricing__item-media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.btr {
    width: 100%;
    align-items: stretch;
}