.breadcrumbs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 0px;
}

.breadcrumbs-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.breadcrumbs__title {
    font-family: "Gilda Display", sans-serif;
    font-size: 62px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: -0.5px;
}

.breadcrumbs__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.breadcrumbs__item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.breadcrumbs__item:not(:last-of-type) {
    margin-right: 8px;
}

.breadcrumbs__item:not(:last-of-type)::after {
    content: "\EA6E";
    font-family: 'remixicon';
    font-size: 16px;
    font-weight: 100;
    display: flex;
    color: white;
    margin-left: 8px;
}

.breadcrumbs__item-link {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255);
    text-decoration: none;
    transition: color 250ms linear;
}

.breadcrumbs__item-link:hover {
    color: rgba(170, 132, 83);
}

.breadcrumbs__current {
    font-size: 16px;
    color: white;
    font-weight: bold;

}