.advantages-bar__item {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgba(29, 29, 29);
    background-color: rgba(17, 17, 17);
    padding: 38px 12px;
    transition: background-color 250ms linear;
}

.advantages-bar__item::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 8px;
    background-color: rgba(29, 29, 29);
}

.advantages-bar__item:hover {
    background-color: rgba(34, 34, 34);
    transition: background-color 250ms linear;
}


.advantages-bar__item-cover {
    width: 100%;
    height: 100%;
    max-width: 58px;
    max-height: 58px;
    display: flex;
    color: rgba(171, 133, 85, 1);
    margin-bottom: 16px;
}

.advantages-bar__item-cover-icon {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: 100% 100%;
}

.advantages-bar__item-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.advantages-bar__item-content-title {
    max-width: 200px;
    font-family: "Gilda Display", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(238, 238, 238, 1);
    margin-bottom: 16px;
    transition: color 250ms linear;
}

.advantages-bar__item:hover .advantages-bar__item-content-title {
    color: rgba(238, 238, 238, 1);
    transition: color 250ms linear;
}

.advantages-bar__item-content-desc {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(204, 197, 197);
    transition: color 250ms linear;
}

.advantages-bar__item:hover .advantages-bar__item-content-desc {
    color: rgb(255, 255, 255);
    transition: color 250ms linear;
}