.hotel-carousel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.hotel-carousel-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
}

.hotel-carousel__wrapper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.hotel-carousel-preview {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 16px;
    background-color: transparent;

}

.hotel-carousel-preview-badge {
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.68);
    color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(2px);
    cursor: text;
    padding: 8px;
}

.hotel-carousel__caption {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: rgba(0, 0, 0, 0.68); */
    border-bottom: 1px dotted rgba(170, 132, 83, 1);
}

.hotel-carousel__caption-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.hotel-carousel__caption-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 0px;
}

.hotel-carousel__caption-item-link {
    font-family: "Gilda Display", sans-serif;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    transition: color 150ms linear;
    margin-bottom: 8px;

}

.hotel-carousel__caption-item-link:hover {
    color: rgba(170, 132, 83, 1);
}


.hotel-carousel__caption-item-desc {
    color: rgba(170, 132, 83, 1);
    max-width: 250px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 200;
    text-align: start;
    line-height: 1.4;
    cursor: text;
}