.decorated-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.decorated-heading__container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.decorated-heading__container-position--start {
    align-items: flex-start;

}

.decorated-heading-cover {
    min-width: 40px;
    width: 100%;
    height: 100%;
    display: flex;
}

.decorated-heading__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.decorated-heading__content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

}

.decorated-heading__letters {
    width: 100%;
    display: flex;
    font-size: 18px;
    color: rgb(167, 155, 155);
}

.decorated-heading__letter {
    font-family: "Barlow", sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    color: inherit;
    text-transform: uppercase;
    /* letter-spacing: 7.8px; */
}


.decorated-heading-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    overflow: hidden;
}

.decorated-heading__subtitle {
    font-family: "Gilda Display", sans-serif;
    display: flex;
    font-size: 50px;
    font-weight: 400;
    color: rgb(238, 238, 238);

}

.decorated-heading__desc {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(167, 155, 155);
    line-height: 28px;

}





/* 
.decorated-content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 32px;
    font-size: 32px;
}

.decorated-heading__word {
    display: inline-block;
    margin-right: 2px;
} */