.footer__contacts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: darkcyan;
}

.footer__contacts-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.footer__contacts-heading-title {
    font-family: "Gilda Display", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}