.room-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;

    position: relative;
}

.rooms-details__columns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    /* gap: 36px; */
}

.rooms-details__column {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(255, 255, 255);
    padding: 80px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.231);
}

.rooms-details__columns--left {
    width: calc(65% - 16px);
}

.rooms-details__columns--right {
    width: 35%;
}

.rooms-details__column-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rooms-details__column-room {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rooms-details__column-room-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.rooms-details__column-room-heading-title {
    font-family: "Gilda Display", sans-serif;
    font-size: 48px;
    font-weight: inherit;
    color: inherit;
}

.rooms-details__column-room-subtitle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.rooms-details__column-room-subtitle-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;

}

.rooms-details__column-room-subtitle-item {
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    color: inherit;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.rooms-details__column-room-overview {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
}

.rooms-details__column-room-overview-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 0px;
}

.rooms-details__column-room-overview-item {
    font-family: inherit;
    color: inherit;
    width: auto;
    height: auto;
    font-size: inherit;
    font-weight: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rooms-details__column-room-overview-item:nth-child(n + 6) {
    margin-top: 16px;
}

.rooms-details__column-room-overview-item-icon {
    display: flex;
    font-size: 24px;
    color: rgba(170, 132, 83, 1);
    margin-right: 8px;
}

.rooms-details__column-room-overview-item-title {
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    color: inherit;
}

.rooms-details__column-room-overview-item-count {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-right: 4px;
}

.rooms-details__column-room-slider {
    width: 100% !important;
    display: flex;
    overflow: hidden;
    margin-bottom: 48px;
}

.rooms-details__column-room-slider-content {
    width: 100%;
    height: 100%;
}


.rooms-details__column-about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.rooms-details__column-about-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
}

.rooms-details__column-about-heading-title {
    font-family: inherit;
    font-size: 32px;
    font-weight: inherit;
    color: inherit;
}



.rooms-details__column-about-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-radius: 16px;
    border: 1px solid rgba(170, 132, 84);
    padding: 42px 32px;
    margin-bottom: 48px;
}

.rooms-details__column-about-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rooms-details__column-about-item-label {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    margin-bottom: 8px;
}

.rooms-details__column-about-item-value {
    font-family: inherit;
    font-size: 22px;
    font-weight: inherit;
    color: inherit;
}

.rooms-details__column-about-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
}

.rooms-details__column-about-body-text {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 28px;
}

.rooms-details__column-features {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rooms-details__column-features-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
}

.rooms-details__column-features-heading-title {
    font-family: inherit;
    font-size: 32px;
    font-weight: inherit;
    color: inherit;
}

.rooms-details__column-features-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    /* flex-direction: row; */
    /* flex-wrap: wrap;
    gap: 24px;
    list-style: none; */
}

.rooms-details__column-features-item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rooms-details__column-features-item-icon {
    display: flex;
    font-size: 32px;
    border: 1px solid rgba(170, 132, 84);
    color: rgba(170, 132, 84);
    border-radius: 50%;
    transition: background-color 250ms linear, color 250ms linear;
    padding: 16px;
    margin-right: 8px;
}

.rooms-details__column-features-item-icon:hover {
    background-color: rgba(170, 132, 84);
    color: inherit;
}

.rooms-details__column-features-item-title {
    font-family: inherit;
    color: inherit;
    font-size: 20px;
    font-weight: 400
}







/* Booking */
.rooms-details__booking {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid rgba(170, 132, 83, 1);
    /* padding: 36px; */

}

.rooms-details__booking-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rooms-details__booking-label {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    margin-bottom: 8px;
}

.rooms-details__booking-field {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 8px;
    border: 1px solid rgba(170, 132, 83, 1);
    margin-bottom: 16px;
}

/* .rooms-details__booking-field:not(:last-of-type) {
    margin-bottom: 16px;
} */
.rooms-details__booking-calendar {
    width: 100%;
    position: absolute;
    top: 100%;
    right: calc(100% - 4px);
    z-index: 2;
}

.rooms-details__booking-dropdown {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 16px;
    padding: 32px;
    background-color: wheat;
    z-index: 1
}



.rooms-details__booking-field-group {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

/* .rooms-details__booking-field .rooms-details__booking-field-group {
    border-right: 1px solid white;
    color: red;
} */

.rooms-details__booking-icon {
    display: flex;
    margin-right: 16px;
}

.rooms-details__booking-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.rooms-details__booking-heading-title {
    font-family: inherit;
    font-size: 32px;
    font-weight: inherit;
    color: inherit;
}

.rooms-details__booking-heading-subtitle {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.rooms-details__booking-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}