.navbar-sticky__cart {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    z-index: 9999;
}

.navbar-sticky__cart-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar-sticky__cart-badge {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar-sticky__cart-badge-icon {
    display: flex;
    position: relative;
    font-size: 32px;
}

.navbar-sticky__cart-badge-count {
    font-size: inherit;
    color: rgba(255, 255, 255, 1);
}

/* .cart__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    z-index: 998;
} */

.navbar-sticky__cart-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}