.cart__modal {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: blueviolet;
    padding: 12px;
}

.cart__modal-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: slategray;
}

.cart__modal-heading-title {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
}



.cart__modal-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: royalblue;
}

.cart__modal-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: royalblue;
}

.cart__modal-item-media {
    width: 128px;
    height: 128px;

}

.cart__modal-item-media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}