.reservation__booking-guests {
    width: auto;
    height: auto;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    scrollbar-gutter: stable;


}

.reservation__booking-guests-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 12px;
}

.reservation__booking-guests-icon {
    font-size: 24px;
    font-weight: 400;
    color: #aa8453;
}

.reservation__booking-guests-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation__booking-guests-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation__booking-guests-title {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    margin-bottom: 8px;
}

.reservation__booking-guests-summary {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.reservation__booking-guests-option {
    width: 8ch;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: rgb(102, 102, 102);
    margin-right: 4px;
}

.reservation__booking-guests-option:not(:last-of-type):after {
    content: ",";
    position: absolute;
    top: 0;
    margin-right: 12px;
}

.reservation__booking-btn {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}