.animation-shine {
    width: 100%;
    height: 100%;
    position: relative;

}

.animation-shine-panel {
    width: 100%;
    height: 100%;
}

.animation-shine-panel::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.16) 50%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    opacity: 0;
    transition: all .6s ease;
    overflow: hidden;
}

.animation-shine-panel:hover::after {
    left: 120%;
    opacity: 1;
    overflow: hidden;
}