.news__item-backdrop {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: filter 250ms linear;
}

.news__item:hover .news__item-backdrop {
    filter: blur(2px) brightness(50%);
}

.news__item-backdrop::after {
    content: "";
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: top 300ms linear, 350ms linear, opacity 350ms linear, transform 350ms linear;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.16) 50%,
            rgba(255, 255, 255, 0.3) 100%);
}

.news__item:hover .news__item-backdrop::after {
    top: 100%;
    opacity: 1;
}

.news__item-backdrop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}