.input-search {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
}

.input-search-content {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-search__field:focus {
    box-shadow: 0 0 0 2px rgba(170, 132, 83, 0.7);
}

.input-search__field {
    width: 100%;
    height: auto;
    position: relative;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 16px;
    padding-right: 80px;
}

.input-search__field[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.input-search__field[type="search"]::-moz-search-clear-button {
    display: none;
}

.input-search__field[type="search"]::-ms-clear {
    display: none;
}

.input-search__clear {
    position: absolute;
    top: 50%;
    right: 56px;
    display: flex;
    transform: translateY(-50%);
    border: none;
    background-color: none;
    cursor: pointer;
}

.input-search__clear-icon {
    display: flex;
    font-size: 16px;
}

.input-search__action {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    background-color: rgba(170, 132, 83, 1);
    padding: 0px 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 250ms linear, color 250ms linear;
}

.input-search__action:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.input-search__action-icon {
    display: flex;
}