.menu__item {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 42px 32px;
}

.menu__item:not(:last-of-type) {
    margin-right: 4px;
}

.menu__link {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;

}

.menu__link i {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #aa8453;
    margin-left: 4px;
}

.menu__link-title {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);

}



.menu__item:hover .menu__sublist {
    transform: scaleY(1);
    opacity: 1;
}



.menu__sublist {
    min-width: 240px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 35px 0;

    transform: scaleY(0);
    /* скрыто по вертикали */
    transform-origin: top;
    /* точка раскрытия сверху */
    opacity: 0;
    /* прозрачность 0 */
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* плавная анимация */
}

.menu__item:hover .menu__sublist {
    transform: scaleY(1);
    /* раскрыть меню */
    opacity: 1;
    /* видимое меню */
}

.menu__sublist-item {
    width: 100%;
    position: relative;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */


    transition: background-color 150ms linear, border-left 300ms linear;
}



.menu__sublist-item:not(:last-of-type) {

    border-bottom: 1px solid rgb(51, 51, 51);
}

.menu__sublist-item:hover {
    /* width: 100%; */
    background-color: rgb(238, 238, 238);
    /* border-left: 4px solid black; */


}

.menu__sublist-item:hover .menu__sublist-text {
    margin-left: 4px;
    transition-delay: 0.1s;
}

.menu__sublist-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 0%;
    background-color: #aa8453;
    transition: height 150ms linear;
}



.menu__sublist-item:hover::before {
    height: 100%;
}

.menu__sublist-item i {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    color: #aa8453;
    margin-left: 4px;

}

.menu__sublist-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    text-decoration: none;
}

.menu__sublist-text {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    color: #555;
    transition: margin-left 300ms linear;
}





.menu__sublist--submenu {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 240px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 35px 0px;
    opacity: 0;
    transition: opacity 250ms linear;
    z-index: 100;
}


.menu__sublist-item:hover>.menu__sublist--submenu {

    flex-direction: column;
    opacity: 1;
}