.maintenance {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.maintenance::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(3px);
    z-index: -1;
}

.maintenance__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.maintenance__slider {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}


.maintenance__slider-backdrop {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);


}

.maintenance__slider-backdrop::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: -1;
}

.maintenance__slider-backdrop-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}








.maintenance__timer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.maintenance__content--left {
    flex: 1 1 calc(40% - 16px);
}

.maintenance__content--right {
    flex: 1 1 calc(60% - 16px);

}

.maintenance__about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


.maintenance__about-wrapper {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.maintenance__about-wrapper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.maintenance__about-wrapper {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}


.maintenance__about-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.maintenance__about-item-title {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 32px;
}

.maintenance__about-item-desc {
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
}

.maintenance__about-social {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maintenance__about-social-heading {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;

}

.maintenance__about-social-heading-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}


.maintenance__about-social-list {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 16px;
    padding: 8px 16px;
}

.maintenance__about-social-item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


}

.maintenance__about-social-item:not(:last-of-type) {
    margin-right: 8px;
}


.maintenance__about-social-item-icon {
    display: flex;
    font-size: 20px;
    color: white;
    ;
    /* border-bottom: 1px solid white; */
    padding: 16px;
    transition: border-color 150ms linear, color 150ms linear, transform 150ms linear;
}

.maintenance__about-social-item-icon:hover {
    color: rgba(170, 132, 83);
    transform: scale(1.3);
    border-color: rgba(170, 132, 83);
}








.maintenance__timer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.maintenance__timer-heading {
    /* padding: 36px; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.maintenance__timer-heading-title {
    font-size: 32px;
    font-weight: inherit;
    margin-bottom: 32px;
    color: rgba(170, 132, 83, 1);
}

.maintenance__timer-heading-title::after {
    content: ":";
    margin: 4px;
}

.maintenance__timer-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.maintenance__timer-unit {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(170, 132, 83, 0.5);
    border-radius: 4px;
    padding: 32px 16px;
    background-color: rgba(0, 0, 0, 0.68);
}

.maintenance__timer-unit::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: calc(50% + 13px);
    left: 25%;
    transform: translateY(50%);
    border-bottom: 1px solid white;
}


.maintenance__timer-unit-value {
    font-size: 48px;
    font-weight: 400;
    position: relative;
    margin-bottom: 18px;
    border-radius: 48px;
    color: rgba(170, 132, 83, 1);
}

.maintenance__timer-unit-title {
    font-size: 16px;
    font-weight: 400;
    color: rgba(170, 132, 83, 1);
}