.news__item {
    position: relative;
    width: 100%;
    height: 400px;

}

.news__item-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.news__item-backdrop-wrapper {
    border: 1px solid rgba(170, 132, 83, 1);
}