.calendar-frame {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    position: relative;
    /* max-width: 574px; */
    /* padding: 40px; */
}

.calendar-frame__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.calendar-frame__heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.calendar-frame__heading-title {
    display: flex;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.calendar-frame__heading-subtitle {
    font-family: "Gilda Display", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.calendar-frame__dates {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;
}

.calendar-frame__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 16px;
}

.calendar-frame__field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.calendar-frame__label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}


/* .calendar-frame__label:not(:last-of-type) {
    margin-bottom: 16px;
} */

.calendar-frame__label-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.calendar-frame__label-title {
    display: flex;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255);
    margin-bottom: 8px;
    cursor: default;
}

.calendar-frame__label-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(170, 132, 83);
    padding: 16px;
    cursor: pointer;
}


.calendar-frame__label-wrapper-input {
    width: 100%;
    color: rgba(255, 255, 255);
    border: none;
    outline: none;
    background-color: inherit;
    pointer-events: none;
}

.calendar-frame__label-wrapper-icon {
    display: flex;
    color: white;
    pointer-events: auto;
    cursor: pointer;
}



.calendar-frame__submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
}