.reservation__booking-counter {
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    border: 2px solid #aa8453;
    backdrop-filter: blur(14px);
    padding: 32px;
    position: absolute;
    top: 100%;
}

.reservation__booking-counter-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.reservation__booking-counter-content:not(:last-of-type) {
    margin-bottom: 24px;
}

.reservation__booking-counter-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation__booking-counter-label {
    font-family: "Barlow", sans-serif;
    display: flex;
    max-width: 64px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(170, 132, 83);
    word-break: break-word;
}

.reservation__booking-counter-controls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.reservation__booking-counter-decrease {
    all: unset;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    color: rgba(231, 231, 231, 1);
}

.reservation__booking-counter-value {
    font-family: "Barlow", sans-serif;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: rgba(170, 132, 83);
}

.reservation__booking-counter-increase {
    all: unset;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    font-weight: 400;
    color: rgba(231, 231, 231, 1);
}