@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import "@flaticon/flaticon-uicons/css/all/all";

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 200;
    /* background-color: rgba(20, 18, 18, 1); */
    color: rgba(255, 255, 255, 1);
}

.overflow-hidden {
    overflow: hidden;
}



/* #no-scrollbar {

    display: flex;
    overflow: hidden;
    padding-right: 15.3px;
    overflow: hidden;
} */