/* .slider__booking-check-in {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid black;
}

.slider__booking-check-in-calendar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

}

.slider__booking-check-in-calendar i {
    font-size: 24px;
    font-weight: 400;
    color: #aa8453;
}

.slider__booking-check-in-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.slider__booking-check-in-title {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.slider__booking-check-in-time {
    font-size: 16px;
    font-weight: 400;
} */


.collapsed {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
}

.collapsed__calendar {
    position: absolute;
    bottom: 102.67px;
    left: 70px;
    background-color: red;

}

/* .collapsed__calendar-out {
    position: absolute;
    bottom: 102.67px;
    left: 390px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);

} */


.slider__booking-calendar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 42px;
}