.reservation__booking-fields {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 32px;
}



.reservation__booking-fields-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    color: rgba(167, 155, 155);
}

.reservation__booking-fields-content {
    /* position: relative; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.reservation__booking-fields-wprapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.reservation__booking-fields-item {
    /* min-width: 256px; */
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
    padding: 0px 32px;
}

.reservation__booking-fields-item:first-of-type {
    padding-left: 0px;
}

.reservation__booking-fields-item:not(:last-of-type) {
    border-right: 1px solid rgba(167, 155, 155, 0.255);
}

.reservation__booking-fields-item-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
}

.reservation__booking-fields-item-wrapper-icon {
    display: flex;
    font-size: inherit;
    color: rgba(170, 132, 83, 1);
}

.reservation__booking-fields-item-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reservation__booking-fields-item-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    color: inherit;
    margin-bottom: 8px;
}

.reservation__booking-fields-item-counts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}



.reservation__booking-fields-item-control {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.reservation__booking-fields-item-control-title {
    color: rgb(167, 155, 155);
    font-family: "Barlow", sans-serif;
    font-size: 14px
}

.reservation__booking-fields-item-control-value {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 2ch;
    color: rgba(167, 155, 155, 1);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.reservation__booking-fields-item-count {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8ch;
    color: rgba(167, 155, 155, 1);
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.reservation__booking-fields-item-value {
    display: none;

}


.reservation__booking-fields-calendar {
    position: absolute;
    top: calc(100% + 32px);
    left: -32px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.reservation__booking-fields-quantity {
    position: absolute;
    top: calc(100% + 32px);
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(204, 159, 100, 1);
    z-index: 1;
    padding: 16px 0px;
}

.reservation__booking-fields-quantity-item:not(:last-of-type) {
    margin-bottom: 4px;
}

.reservation__booking-fields-quantity-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
}

.reservation__booking-fields-quantity-inner {
    width: 100%;
    display: flex;
}

.reservation__booking-fields-quantity-label {
    min-width: 100px;
}

.reservation__booking-fields-actions {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    background-color: red;
}