.team__card-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
    opacity: 0;
    transform-origin: bottom;
    margin-bottom: 16px;
    transform: translateX(50px);
    z-index: 9999;
    transition: transform 250ms linear, visibility 250ms linear, margin 250ms linear, opacity 250ms linear;
}

.team__card-frame:hover .team__card-icons {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    transition: transform 250ms linear, visibility 250ms linear, margin 250ms linear;
    margin-right: 16px;

}


.team__card-icon-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
}

.team__card-icon {
    font-size: 18px;
    color: white;
    display: flex;
}

.team__card-icon:hover {
    transform: scale(1.4);
    color: rgba(171, 133, 85);
    transition: transform 100ms linear, color 100ms linear, visibility 250ms linear;
}