.quantity {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.quantity__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgba(170, 132, 83, 1);
    gap: 32px;
}

.quantity__heading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quantity__heading-title {
    font-family: inherit;
    text-transform: capitalize;
    font-weight: inherit;
    font-size: inherit;
}


.quantity__minus {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 50%;
    border-color: rgba(170, 132, 83);
    color: inherit;
}

.quantity__icon {
    display: flex;
    font-size: 16px;
}

.quantity__value {
    width: 2ch;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: inherit;
}

.quantity__input {
    display: none;
}

.quantity__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 50%;
    border-color: rgba(170, 132, 83);
    color: inherit;
}

/* .quantity--small .quantity {
    width: auto;
} */

.quantity--small .quantity__content {
    gap: 16px;
}

/* 
.quantity--small .quantity__icon {
    font-size: 14px;
}

.quantity--small .quantity__value {
    font-size: 16px;
} */