.news {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    overflow: hidden;
}

.news__content-backdrop::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: top 350ms linear, 350ms linear, opacity 350ms linear, transform 350ms linear;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.16) 50%,
            rgba(255, 255, 255, 0.3) 100%);
}

.news__content:hover .news__content-backdrop::after {
    top: 100%;
    opacity: 1;
}


.news__content {
    position: relative;
    width: 100%;
    height: 400px;
}

.news__content-backdrop {
    width: 100%;
    height: 256px;
    position: relative;
    overflow: hidden;
}


.news__content-backdrop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.news__meta-detailss {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.news__meta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
}

.news__meta-calendar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(2px);
    border-right: 1px solid rgba(204, 159, 100, 1);
    padding: 32px 8px;
    transition: transform 250ms linear;
}

.news__content:hover .news__meta-calendar {
    transform: translateY(-32px);
}


.news__meta-calendar-month {
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(204, 159, 100, 1);
    margin-bottom: 8px;
}

.news__meta-calendar-date {
    font-size: 16px;
    color: rgba(204, 159, 100, 1);
}

.news__meta-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(2px);
    padding-right: 0px;
}

.news__meta-content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    padding-right: 0px;
}

.news__meta-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    overflow-y: auto;
    margin-bottom: 16px;
}

.news__meta-item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.news__meta-item-person {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-right: 16px;
}

.news__meta-item-person-icon {
    display: flex;
    font-size: 14px;
    color: rgba(170, 132, 83, 1);
}

.news__meta-item-person-prefix {
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    color: inherit;
}

.news__meta-item-person-link {
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
}

.news__meta-item-categories {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

}

.news__meta-item-categories-icon {
    display: flex;
    font-size: inherit;
    color: rgba(170, 132, 83, 1);
}

.news__meta-item-categories-link {
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    color: inherit;
    white-space: nowrap;
    text-decoration: none;
}

.news__meta-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.news__meta-details-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.news__meta-details-heading-link {
    max-width: 256px;
    font-family: inherit;
    font-size: 20px;
    font-weight: inherit;
    line-height: 1.4;
    color: inherit;
    text-decoration: none;
    transition: color 250ms linear;
}

.news__meta-details-heading-link:hover {
    color: rgba(170, 132, 83, 1);
}

.news__meta-details-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__meta-details-link-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 0px;
}

.news__meta-details-link-action:hover .news__meta-details-link-title,
.news__meta-details-link-action:hover .news__meta-details-link-icon {
    color: inherit;
}

.news__meta-details-link-title {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: silver;
    transition: color 150ms linear;
}

.news__meta-details-link-icon {
    display: flex;
    font-size: inherit;
    color: silver;
    transition: color 150ms linear;
}