.back__in-up {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    will-change: transform, opacity;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}