.input-search {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-search-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 16px;
}

.xuycikk {
    width: auto;
    display: flex;
    position: relative;
}

.input-search__field {
    border: none;
    outline: none;
    transition: box-shadow 250ms linear;
    padding: 8px 48px 6px 16px;
}


.input-search__field[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


.input-search__field[type="search"]::-moz-search-clear-button {
    display: none;
}


.input-search__field[type="search"]::-ms-clear {
    display: none;
}

.input-search__field:focus-within {
    box-shadow: 0 0 0 2px rgba(170, 132, 83, 0.7);
}

.input-search__action {
    position: absolute;
    right: 20px;
    top: 0;

    width: auto;
    padding: 4px;
    height: auto;
    /* transform: translateY(-50%); */

    cursor: pointer;
    display: flex;
    background-color: rgba(170, 132, 83, 1);
}