.input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.input__heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 0px;
}

.input__label {
    font-family: "Gilda Display", sans-serif;
    font-size: 32px;
    color: rgba(170, 132, 83, 1);
}

.input__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.input__field {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilda Display", sans-serif;
    font-size: 16px;
    color: rgba(170, 132, 83, 1);
    border: none;
    outline: none;
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.242);
    padding: 16px;
}



.input__icon-eyes {
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.input--show-eyes .input__field {
    padding-right: 48px;
}

.input__icon-eyes--hidden {
    color: rgba(170, 132, 83);
}



.input--icon .input__field {
    padding-left: 48px;
}

.input__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgba(255, 255, 255);

    /* margin-right: 8px; */
}



.input:focus-within .input__icon {
    color: rgba(170, 132, 83);
}

.input__icon-postion--left {
    position: absolute;
    left: 16px;
}

.input__icon-postion--right {
    position: absolute;
    right: 16px;
}