.frosted-glass {
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(0.5px);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    padding-top: 0px;
}