.footer__navigation {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__navigation-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.footer__navigation-title {
    font-family: "Gilda Display", sans-serif;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}