.section__hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.section__hero::before {
    content: "";
    position: relative;
    width: 32px;
    height: 50%;
    background-color: rgba(170, 132, 83);
    margin-right: 16px;

}

.section__hero-backdrop {
    position: relative;
    width: 100%;
    height: 588px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__hero-video {
    position: absolute;
    right: -50px;
    top: 25%;
    justify-content: flex-end;
    transform: translateY(-25%);
}

.section__hero-video-icon {
    display: flex;
}


.section__hero-heading {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34);
    padding: 24px;
    z-index: 2;
}

.section__hero-heading-cover {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.section__hero-heading-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section__hero-heading-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section__hero-__heading-title {
    font-family: "Gilda Display", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.section__hero-heading-content {
    max-width: 220px;
    height: auto;
    display: flex;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(171, 171, 171);
    word-break: break-word;
    line-height: 1.5;
    column-gap: 20px;
    text-align: center;
}


.section__hero-card {
    width: 344px;
    height: 256px;
    position: absolute;
    left: 50%;
    bottom: -16px;
    /* transform: translateX(50%); */
    transform-origin: right;
    border: 16px solid black;
}

.section__hero-card-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}