.hover__link {
    position: relative;
    width: max-content;
    height: auto;
    display: flex;
    background-color: rgba(170, 132, 83, 1);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 38px;
    z-index: 9999;
    border: none;
    text-decoration: none;
}

.hover__link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--hover-bg-color, #111);
    transition: width 300ms linear, right 300ms linear, left 300ms linear;
    z-index: -1;
}

.hover__link:hover::before {
    position: absolute;
    width: 100%;
    left: unset;
    left: 0;
}

.hover__link-variant--transparent {
    color: rgba(170, 132, 83, 1);
    border: 1px solid rgba(170, 132, 83, 1);
    background-color: transparent;
    transition: background-color 250ms linear, color 250ms linear, border-color 250ms linear;
}

.hover__link-variant--transparent:hover {
    color: white;
    border-color: #fff;
    background-color: rgba(170, 132, 83, 1);
}

.hover__link-variant--transparent::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--hover-bg-color, rgb(24, 24, 24));
    transition: width 300ms linear, right 300ms linear, left 300ms linear;
    z-index: -1;

}

.hover__link-variant--transparent:hover::before {
    position: absolute;
    width: 100%;
    left: unset;
    left: 0;
}

.hover__link--sm {
    padding: 8px 16px;
}

.hover__link--md {
    padding: 16px 38px;
    border: none;
}

.hover__link--lg {
    padding: 18px 42px;
}

.hover__link--lx {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 52px;
}



/* .hover__link--transparent>span {
    position: relative;
    z-index: 1;
} */