.hover__link {
    position: relative;
    width: max-content;
    height: auto;
    display: flex;
    color: var(--link-text-color, #fff);
    font-size: 14px;
    font-weight: 600;
    padding: 16px 38px;
    z-index: 1;
    border: none;
    text-decoration: none;
    /* background-color: var(--link-bg-color, transparent); */
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover__link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    /* background-color: var(--hover-bg-color, rgba(170, 132, 83)); */
    transition: width 300ms linear, right 300ms linear, left 300ms linear;
    z-index: -1;
}

.hover__link:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}

.hover__link-variant--invisible {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.hover__link:hover {
    color: var(--hover-bg-color, rgba(170, 132, 83));
    color: var(--hover__link-text-color, rgba(170, 132, 83));
}

.hover__link-variant--simple {
    background-color: var(--link-bg-color, transparent);
    color: var(--link-text-color, #fff);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover__link-variant--simple:hover {
    background-color: var(--hover-bg-color, rgba(170, 132, 83));
    color: var(--hover__link-text-color, #fff);
}

.hover__link-variant--simple::before {
    display: none;
    content: none;
}