.gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
}

.gallery__card {
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery__card-wrapper {
    width: 100%;
    max-width: 400px;
    max-height: 262px;
    overflow: hidden;
}

.gallery__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: transform 0.6s ease-in-out;
}

.gallery__card-img:hover {
    transform: scale(1.1) rotate(3deg);
}