.section-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 0px;
}

/* .section-wrapper--bg-black {
    background-color: rgba(0, 0, 0);
} */