.hotel-booking {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 80px;
    overflow: hidden;
}

.hotel-booking__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}

.hotel-booking__columns {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.hotel-booking__columns--left {
    width: 42%;
}

.hotel-booking__columns--right {
    width: 58%;
}

.hotel-booking__form {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 6px solid rgb(170, 132, 83);
    background-color: black;
    padding: 48px;
    bottom: 80px;
    z-index: 1;
}

.hotel-booking__form-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.hotel-booking__form-decorate,
.decorated-heading__letter {
    font-size: 14px;
    margin-right: -4px;
}

.hotel-booking__form-control {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hotel-booking__form-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.hotel-booking__form-selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hotel-booking__form-selector-label {
    font-family: "Barlow", sans-serif;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    color: inherit;
}

.hotel-booking__form-selector-field {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid rgba(170, 132, 83, 0.3);
}

.hotel-booking__form-input {
    width: 100%;
    height: auto;
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    padding: 12px;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.hotel-booking__form-selector-field::after {
    font-family: "linearicons-free";
    content: "\e874";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    opacity: 0.5;
    color: wheat;
    cursor: pointer;
}

.hotel-booking__form-submit {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.hotel-booking__calendar-popup {
    width: 100%;
    height: auto;
    z-index: 9999;
    overflow: hidden;
}

.hotel-booking__form-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    padding: 20px;
}

.hotel-booking__form-icon {
    font-size: 24px;
    display: flex;
    border: 3px solid transparent;
    padding: 4px;
    transition: border-color 350ms linear, color 350ms linear;
}

.hotel-booking__form-icon:hover {
    color: rgba(170, 132, 83);
}











.hotel-booking__form-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .hotel-booking__form-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
} */

.hotel-booking__form-list {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-bottom: 8px; */
}

.hotel-booking__form-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

/* 
.hotel-booking__form-item:not(:last-child) {
    margin-bottom: 16px;
} */

.hotel-booking__form-item-heading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.hotel-booking__form-item-heading-title {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.hotel-booking__form-item-field {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
    border: 1px solid rgba(170, 132, 83, 0.306);
    cursor: pointer;
}

.hotel-booking__form-item-field-icon {
    display: flex;
    font-size: inherit;
}

/* .hotel-booking__form-item-field:not(:nth-last-child(-n + 2)) {
    margin-bottom: 16px;
} */

.hotel-booking__form-dropdown-calendar {
    width: auto;
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    /* left: calc(100% + 48px); */
    z-index: 2;
    border: 1px solid rgba(204, 159, 100, 1);
}

.hotel-booking__form-field-dropdown-quantity {
    width: 100%;
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.68);
    border: 1px solid rgba(170, 132, 83, 1);
    backdrop-filter: blur(2px);
    cursor: default;
    z-index: 9999;
}

.hotel-booking__form-field-dropdown-quantity-action {
    padding: 32px;
}

.hotel-booking__form-action {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(170, 132, 83, 1);
}