/* .debug-pages {
    padding: 40px;
    background-color: silver;
} */
.debug-pages {
    width: 100%;
    /* height: auto;
    display: flex;
    padding: 80px; */
}

.suka {
    width: 100%;
    overflow: hidden;
}

/* 
.xuy {
    width: 100%;
    height: 100dvh;
    position: relative;
}

.scroll__wrapper {
    display: flex;
    width: 400px;
    height: 300px;

    background: #fffdf9;
    overflow: hidden;
}

.scroll__content {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

.scroll__content::-webkit-scrollbar {
    display: none;
} */