.footer__subscribe-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__subscribe-form-group {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.footer__subscribe-email {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 16px;
}

.footer__subscribe-email-field {
    font-family: "Barlow", sans-serif;
    width: 100%;
    min-width: 192px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgb(173, 173, 173);
    padding: 22px;
}

.footer__subscribe-email-button {
    padding: 0px 26px;
}

.footer__subscribe-email-button i {
    display: flex;
    font-size: 22px;
}

.footer__subscribe-checkbox {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}