.calendar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.calendar__content {
    width: max-content;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 1);
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
}

.calender_rdp--open .rdp-dropdown {
    transform: rotate(180deg);
}

.rdp-dropdown:focus-visible~.rdp-caption_label {
    outline: none !important;
    color: rgba(170, 132, 83, 1);
    border: none !important;
}



.rdp-dropdowns {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255) !important;
    /* margin-bottom: 8px; */
}

.rdp-dropdowns option {
    background-color: black;
    color: white;
}

.rdp-dropdowns option:disabled {
    background-color: rgba(0, 0, 0);
    color: rgba(170, 132, 83, 1);
    outline: none;
}


.rdp-dropdown_root[data-disabled="true"] .rdp-chevron {
    opacity: var(--rdp-disabled-opacity);
    transform: rotate(180deg);
}



.rdp-day .rdp-disabled {
    color: #aa8453 !important;
}

.rdp-dropdown option:hover,
.rdp-dropdown option:checked,
.rdp-dropdown option:active,
.rdp-dropdown option:focus {
    background: linear-gradient(#ecec0f, #045df7);
}

/* Variables declaration */
.rdp-root {
    --rdp-accent-color: #aa8453 !important;
    --rdp-accent-background-color: rgba(0, 0, 0, 0.68) !important;
    --rdp-accent-background-color: rgba(0, 0, 0, 0.68);
    --rdp-range_middle-color: rgba(255, 255, 255) !important;
    --rdp-selected-border: 1px solid var(--rdp-accent-color);
    border: 1px solid rgba(204, 159, 100, 1);

}

.my-disabled_style .rdp-day_button {
    color: rgba(170, 132, 83, 0.489) !important;
}



.rdp-weekdays {
    color: rgba(204, 159, 100);
}

.rdp-months {
    position: relative;
    width: auto;
    display: none;
    gap: 0px !important;
    padding: 0px 4px;
}

.rdp-month:not(:last-of-type) {
    border-right: 1px solid rgba(204, 159, 100);
}

.rdp-day_button {
    /* font-family: "Barlow", sans-serif !important; */
    font-size: 12px !important;
    border-radius: 0px !important;
    color: aliceblue !important;
}

/* .rdp-range_middle {
    font-size: 8px !important;
} */

.rdp-day {
    width: auto !important;
    height: auto !important;
}

.calendar__footer {
    color: inherit;
    /* background-color: rgba(170, 132, 83, 0.258); */
    padding: 16px;
    border-top: 1px solid rgba(204, 159, 100, 1);
}

.calendar__footer-date {
    color: #aa8453;
}


/* .rdp-day_button {
    color: aqua !important;
    background-color: black !important;
} */