.footer__subscribe-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__subscribe-form-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.footer__subscribe-form-group:not(:last-of-type) {
    margin-bottom: 32px;
}


.footer__subscribe-form-email {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.footer__subscribe-form-input {
    font-family: "Barlow", sans-serif;
    width: 100%;
    min-width: 192px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgb(173, 173, 173);
    padding: 26px;
}

.footer__subscribe-form-button i {
    display: flex;
    font-size: 16px;
}

/* .footer__subscribe-form-checkbox input[type="checkbox"] {
    appearance: none;


width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 4px;

cursor: pointer;
display: inline-block;
vertical-align: middle;
position: relative;
transition: all 0.2s ease;
}


.footer__subscribe-form-checkbox input[type="checkbox"]:checked {
    background-color: #007bff;

    border-color: #007bff;
}


.footer__subscribe-form-checkbox input[type="checkbox"]:checked::after {
    content: "✔";
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*/
/* .footer__subscribe-form-label {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;


} */




.footer__subscribe-form-label-checkbox {
    position: absolute;
    left: -9999px;
}

.footer__subscribe-form-label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}

/* checkbox box */
.footer__subscribe-form-label::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 22px;
    border: 3px solid #cccccc;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checkmark (initially hidden) */
.footer__subscribe-form-label::after {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 20px;
    line-height: 1.2;
    color: #09ad7e;
    opacity: 0;
    transform: scale(0);
    transition: all .2s;
}

/* show checkmark when checkbox is checked */
.footer__subscribe-form-label-checkbox:checked+.footer__subscribe-form-label::after {
    opacity: 1;
    transform: scale(1);
}

/* accessibility focus style */
.footer__subscribe-form-label-checkbox:focus+.footer__subscribe-form-label::before {
    border: 2px dotted #0000ff;
}

/* hover style */
.footer__subscribe-form-label:hover::before {
    border: 2px solid #4778d9 !important;
}